.product-card {
  width: 350px;
  /* height: 387px; */

  padding: 3px;
  border: 2px solid rgb(229, 225, 225);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 233);
  overflow: hidden;
  overflow: visible;
}

.product-card
{
    transition:all 0.2s ease-in-out;
}

.product-card:hover
{
    transform: scale(1.1);
    background-color: rgb(231, 231, 214);
    border: 2px solid rgb(147, 146, 146);
    cursor: pointer;
}

.product-card:hover .title{
    color: green;
}

.img-container {
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.product-img {
  object-fit: contain;
  border-radius: 4px;
  width: 350px;
}

#infoBtn {
  position: absolute;
  right: 7px;
  bottom: 173px;
  opacity: 0.5;
}

#infoBtn:hover{
    cursor: pointer;
    opacity: 1;
}
.select-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.select-size,
.select-quantity {
  width: 70px;
  padding: 1px;
  border-radius: 3px;
}

.price-container
{
  margin-top: 10px;
}

.title-btn-container {
  width: 100%;
}

.title-container {
  height: 40px;
  margin-top: 14px;
  margin-bottom: 12px;
}


.title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  overflow-wrap: break-word;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btn {
  padding: 0px;
  height: 45px;
  background-color: blueviolet;
  color: white;
  border: none;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(138, 75, 197);
}
